Repository endeavorb2b/websites, pull requests merged in 2019-08, with the labels that each got.

#351 Upgrade @base-cms dependencies to 0.9.53
  packages/common/package.json
  packages/identity-x/package.json
  packages/inquiry/package.json
  packages/themes/package.json
  sites/aquamagazine/package.json
  sites/athleticbusiness/package.json
  sites/automationworld/package.json
  sites/bioopticsworld/package.json
  sites/bizbash/package.json
  sites/broadbandtechreport/package.json
  sites/cablinginstall/package.json
  sites/clevescene/package.json
  sites/dentaleconomics/package.json
  sites/dentistryiq/package.json
  sites/evaluationengineering/package.json
  sites/forconstructionpros/package.json
  sites/healthcarepackaging/package.json
  sites/industrial-lasers/package.json
  sites/intelligent-aerospace/package.json
  sites/laserfocusworld/package.json
  sites/ledsmagazine/package.json
  sites/lightwaveonline/package.json
  sites/metrotimes/package.json
  sites/militaryaerospace/package.json
  sites/mundopmmi/package.json
  sites/oemmagazine/package.json
  sites/officer/package.json
  sites/offshore-mag/package.json
  sites/ogj/package.json
  sites/orlandoweekly/package.json
  sites/outinsa/package.json
  sites/outinstl/package.json
  sites/packworld/package.json
  sites/perioimplantadvisory/package.json
  sites/plasticsmachinerymagazine/package.json
  sites/profoodworld/package.json
  sites/rdhmag/package.json
  sites/riverfronttimes/package.json
  sites/sacurrent/package.json
  sites/strategies-u/package.json
  sites/utilityproducts/package.json
  sites/vision-systems/package.json
  sites/waterworld/package.json
  sites/woodfloorbusiness/package.json
  yarn.lock
Labels: dependencies

#352 Mundo layout updates, Event description, GTM & search keys, subscribe url
  sites/mundopmmi/config/site.js
  sites/mundopmmi/server/templates/index.marko
  sites/mundopmmi/server/templates/published-content/events.marko
Labels: site: mundopmmi

#355 Fix typo in secondary link color definitions
  packages/themes/default/styles/_variables.scss
Labels: package: themes

#359 Set PMMI GAM account # for Mundo
  sites/mundopmmi/config/ads.js
Labels: site: mundopmmi

#361 Update display to account for non-address fields
  packages/common/components/content/blocks/contact-details.marko
Labels: package: common

#364 Add Calgary & Edmonton to BZB directories
  sites/bizbash/components/directory-search/markets.js
Labels: site: bizbash

#363 Use 16:9 images with venue/supplier carousel
  sites/bizbash/components/image-slider.marko
Labels: site: bizbash

#365 Add navbar active link support
  packages/common/components/navbars/is-active-link.js
  packages/common/components/navbars/site-a.marko
  packages/themes/default/styles/_mixins.scss
  sites/bizbash/server/styles/index.scss
Labels: package: common, package: themes, site: bizbash

#367 Update @base-cms dependencies to 0.10.1
  packages/common/package.json
  packages/identity-x/package.json
  packages/inquiry/package.json
  packages/themes/package.json
  sites/aquamagazine/package.json
  sites/athleticbusiness/package.json
  sites/automationworld/package.json
  sites/bioopticsworld/package.json
  sites/bizbash/package.json
  sites/broadbandtechreport/package.json
  sites/cablinginstall/package.json
  sites/clevescene/package.json
  sites/dentaleconomics/package.json
  sites/dentistryiq/package.json
  sites/evaluationengineering/package.json
  sites/forconstructionpros/package.json
  sites/healthcarepackaging/package.json
  sites/industrial-lasers/package.json
  sites/intelligent-aerospace/package.json
  sites/laserfocusworld/package.json
  sites/ledsmagazine/package.json
  sites/lightwaveonline/package.json
  sites/metrotimes/package.json
  sites/militaryaerospace/package.json
  sites/mundopmmi/package.json
  sites/oemmagazine/package.json
  sites/officer/package.json
  sites/offshore-mag/package.json
  sites/ogj/package.json
  sites/orlandoweekly/package.json
  sites/outinsa/package.json
  sites/outinstl/package.json
  sites/packworld/package.json
  sites/perioimplantadvisory/package.json
  sites/plasticsmachinerymagazine/package.json
  sites/profoodworld/package.json
  sites/rdhmag/package.json
  sites/riverfronttimes/package.json
  sites/sacurrent/package.json
  sites/strategies-u/package.json
  sites/utilityproducts/package.json
  sites/vision-systems/package.json
  sites/waterworld/package.json
  sites/woodfloorbusiness/package.json
  yarn.lock
Labels: dependencies

#366 Pass issue load more header via property
  packages/common/components/content/blocks/query-load-more-issue-content.marko
  sites/aquamagazine/server/templates/magazine/issue.marko
  sites/athleticbusiness/server/templates/magazine/issue.marko
  sites/automationworld/server/templates/magazine/issue.marko
  sites/bioopticsworld/server/templates/magazine/issue.marko
  sites/bizbash/server/templates/magazine/issue.marko
  sites/cablinginstall/server/templates/magazine/issue.marko
  sites/clevescene/server/templates/magazine/issue.marko
  sites/dentaleconomics/server/templates/magazine/issue.marko
  sites/dentistryiq/server/templates/magazine/issue.marko
  sites/healthcarepackaging/server/templates/magazine/issue.marko
  sites/industrial-lasers/server/templates/magazine/issue.marko
  sites/laserfocusworld/server/templates/magazine/issue.marko
  sites/ledsmagazine/server/templates/magazine/issue.marko
  sites/lightwaveonline/server/templates/magazine/issue.marko
  sites/metrotimes/server/templates/magazine/issue.marko
  sites/militaryaerospace/server/templates/magazine/issue.marko
  sites/mundopmmi/server/templates/magazine/issue.marko
  sites/oemmagazine/server/templates/magazine/issue.marko
  sites/offshore-mag/server/templates/magazine/issue.marko
  sites/ogj/server/templates/magazine/issue.marko
  sites/orlandoweekly/server/templates/magazine/issue.marko
  sites/outinsa/server/templates/magazine/issue.marko
  sites/outinstl/server/templates/magazine/issue.marko
  sites/packworld/server/templates/magazine/issue.marko
  sites/profoodworld/server/templates/magazine/issue.marko
  sites/rdhmag/server/templates/magazine/issue.marko
  sites/riverfronttimes/server/templates/magazine/issue.marko
  sites/sacurrent/server/templates/magazine/issue.marko
  sites/strategies-u/server/templates/magazine/issue.marko
  sites/utilityproducts/server/templates/magazine/issue.marko
  sites/vision-systems/server/templates/magazine/issue.marko
  sites/waterworld/server/templates/magazine/issue.marko
  sites/woodfloorbusiness/server/templates/magazine/issue.marko
Labels: package: common

#362 Display sticky leaderboard only after scroll offset is reached
  packages/common/browser/sticky-leaderboard.vue
  packages/common/package.json
  yarn.lock
Labels: package: common

#368 Create non-overlay card item and deck
  sites/bizbash/components/card-item.marko
  sites/bizbash/components/load-more/content-layout.marko
  sites/bizbash/components/load-more/content-layouts/card-item-deck.marko
  sites/bizbash/components/marko.json
  sites/bizbash/server/styles/index.scss
  sites/bizbash/server/templates/published-content/events.marko
  sites/bizbash/server/templates/published-content/videos.marko
  sites/bizbash/server/templates/published-content/webinars.marko
  sites/bizbash/server/templates/published-content/white-papers.marko
  sites/bizbash/server/templates/website-section/industry-buzz.marko
Labels: site: bizbash

#370 Mundo - remove demo from GAM path
  sites/mundopmmi/config/ads.js
Labels: site: mundopmmi

#369 Add featured Venues/Suppliers box to article pages
  sites/bizbash/components/featured-venues-suppliers.marko
  sites/bizbash/components/list-item-section-name.marko
  sites/bizbash/components/marko.json
  sites/bizbash/server/styles/index.scss
  sites/bizbash/server/templates/content/index.marko
Labels: site: bizbash

#372 Custom layouts for BizBash Lists, Venues & Destinations
  sites/bizbash/server/routes/website-section.js
  sites/bizbash/server/templates/website-section/bizbash-lists.marko
  sites/bizbash/server/templates/website-section/local-venues-destinations.marko
Labels: site: bizbash

#374 CS2780-OS: adjustment to index blocks
  sites/offshore-mag/server/templates/index.marko
Labels: site: offshore-mag

#375 fix cityStateZip check on showAddress check
  packages/common/components/content/blocks/contact-details.marko
Labels: package: common

#376 Corrección de ruta de anuncios de Mundo
  sites/mundopmmi/config/ads.js
Labels: site: mundopmmi

#371 Add minimum capacity filtering to venue directory
  sites/bizbash/components/directory-search/index.marko
  sites/bizbash/server/styles/components/_directory.scss
  sites/bizbash/services/cloud-front-search.js
Labels: site: bizbash

#377 Mundo navigation and load more layouts
  packages/themes/default/styles/theme/_page.scss
  sites/bizbash/server/styles/index.scss
  sites/mundopmmi/marko.json
  sites/mundopmmi/server/components/card-item-input.js
  sites/mundopmmi/server/components/load-more/components/wrapper.marko
  sites/mundopmmi/server/components/load-more/content-layout.marko
  sites/mundopmmi/server/components/load-more/content-layouts/card-deck-no-ads.marko
  sites/mundopmmi/server/components/load-more/index.marko
  sites/mundopmmi/server/components/load-more/marko.json
  sites/mundopmmi/server/components/marko.json
  sites/mundopmmi/server/components/related-content.marko
  sites/mundopmmi/server/routes/load-more.js
  sites/mundopmmi/server/styles/index.scss
  sites/mundopmmi/server/templates/content/components/pre-load-more-layout.marko
  sites/mundopmmi/server/templates/content/index.marko
  sites/mundopmmi/server/templates/index.marko
  sites/mundopmmi/server/templates/website-section/components/pre-load-more-layout.marko
  sites/mundopmmi/server/templates/website-section/index.marko
Labels: package: themes, site: mundopmmi

#378 Mundo channel layouts, menu link updates
  sites/mundopmmi/config/site.js
  sites/mundopmmi/server/routes/website-section.js
  sites/mundopmmi/server/templates/website-section/automatizacion.marko
  sites/mundopmmi/server/templates/website-section/empaque.marko
  sites/mundopmmi/server/templates/website-section/procesamiento.marko
Labels: site: mundopmmi

#379 Updated BizBash channel page block order
  sites/bizbash/server/templates/website-section/bizbash-lists.marko
  sites/bizbash/server/templates/website-section/local-venues-destinations.marko
Labels: site: bizbash

#380 Mundo: Contacto, not Contrato
  sites/mundopmmi/config/site.js
Labels: site: mundopmmi

#382 CS2781-LW: added On Topic to secondary nav
  sites/lightwaveonline/config/site.js
  sites/lightwaveonline/server/styles/index.scss
Labels: site: lightwaveonline

#383 CS2782-BTR: add On Topic to secondary nav
  sites/broadbandtechreport/config/site.js
  sites/broadbandtechreport/server/styles/index.scss
Labels: site: broadbandtechreport

#384 CS2795-LW: moved On Topic block to top of page
  sites/lightwaveonline/server/templates/index.marko
Labels: site: lightwaveonline

#385 Ensure Nx image links to the campaign
  sites/bizbash/components/card-item-overlay/index.marko
  sites/bizbash/components/list-item/index.marko
Labels: bug, site: bizbash

#388 Mundo home page blocks
  sites/mundopmmi/server/templates/index.marko
Labels: site: mundopmmi

#387 Config support for breadcrumbs (translations)
  packages/common/components/breadcrumbs/dynamic-page.marko
  packages/common/components/breadcrumbs/login.marko
  packages/common/components/breadcrumbs/magazine.marko
  packages/common/components/breadcrumbs/published-content.marko
  packages/common/components/breadcrumbs/search.marko
  packages/common/components/breadcrumbs/subscribe.marko
  packages/common/components/breadcrumbs/website-section.marko
  packages/common/components/footers/site-a.marko
  sites/mundopmmi/config/site.js
  sites/mundopmmi/server/components/load-more/components/wrapper.marko
  sites/mundopmmi/server/templates/index.marko
  sites/mundopmmi/server/templates/published-content/videos.marko
  sites/mundopmmi/server/templates/search.marko
  sites/mundopmmi/server/templates/website-section/index.marko
Labels: site: mundopmmi

#386 fix margin-bottom on featured space block
  sites/bizbash/server/styles/index.scss
Labels: site: bizbash

#390 Drop rail ads & related content from companies, contacts
  sites/mundopmmi/config/site.js
  sites/mundopmmi/server/templates/content/index.marko
Labels: site: mundopmmi

#389 Add Featured Venue Box to media galleries
  sites/bizbash/server/templates/content/index.marko
Labels: site: bizbash

#391 Initial sidebar support; Mundo date formatting
  packages/common/components/content/blocks/page-body-contents.marko
  packages/common/package.json
  packages/identity-x/package.json
  packages/inquiry/package.json
  packages/themes/default/api/fragments/content-page.js
  packages/themes/default/styles/theme/_page.scss
  packages/themes/package.json
  sites/aquamagazine/package.json
  sites/athleticbusiness/package.json
  sites/automationworld/package.json
  sites/bioopticsworld/package.json
  sites/bizbash/package.json
  sites/broadbandtechreport/package.json
  sites/cablinginstall/package.json
  sites/clevescene/package.json
  sites/dentaleconomics/package.json
  sites/dentistryiq/package.json
  sites/evaluationengineering/package.json
  sites/forconstructionpros/package.json
  sites/healthcarepackaging/package.json
  sites/industrial-lasers/package.json
  sites/intelligent-aerospace/package.json
  sites/laserfocusworld/package.json
  sites/ledsmagazine/package.json
  sites/lightwaveonline/package.json
  sites/metrotimes/package.json
  sites/militaryaerospace/package.json
  sites/mundopmmi/config/core.js
  sites/mundopmmi/package.json
  sites/mundopmmi/server/styles/index.scss
  sites/oemmagazine/package.json
  sites/officer/package.json
  sites/offshore-mag/package.json
  sites/ogj/package.json
  sites/orlandoweekly/package.json
  sites/outinsa/package.json
  sites/outinstl/package.json
  sites/packworld/package.json
  sites/perioimplantadvisory/package.json
  sites/plasticsmachinerymagazine/package.json
  sites/profoodworld/package.json
  sites/rdhmag/package.json
  sites/riverfronttimes/package.json
  sites/sacurrent/package.json
  sites/strategies-u/package.json
  sites/utilityproducts/package.json
  sites/vision-systems/package.json
  sites/waterworld/package.json
  sites/woodfloorbusiness/package.json
  yarn.lock
Labels: package: common, package: themes, site: mundopmmi

#392 Mundo spacing correction
  sites/mundopmmi/server/templates/content/index.marko
Labels: site: mundopmmi

#393 Add mundo favicons
  sites/mundopmmi/server/public/android-chrome-192x192.png
  sites/mundopmmi/server/public/android-chrome-512x512.png
  sites/mundopmmi/server/public/apple-touch-icon.png
  sites/mundopmmi/server/public/browserconfig.xml
  sites/mundopmmi/server/public/favicon-16x16.png
  sites/mundopmmi/server/public/favicon-32x32.png
  sites/mundopmmi/server/public/favicon.ico
  sites/mundopmmi/server/public/mstile-150x150.png
  sites/mundopmmi/server/public/safari-pinned-tab.svg
  sites/mundopmmi/server/public/site.webmanifest
Labels: site: mundopmmi

#394 Ensure all nav breakpoints are specified and sorted
  packages/themes/default/styles/_components.scss
  packages/themes/default/styles/_functions.scss
  packages/themes/default/styles/theme/_navbar.scss
Labels: package: themes

#396 Fixed custom page link, changed another to target _blank
  sites/mundopmmi/config/site.js
Labels: site: mundopmmi

#397 Increase header logo to 80px
  sites/mundopmmi/config/site.js
  sites/mundopmmi/server/styles/index.scss
Labels: site: mundopmmi

#398 Convert events page into eventos section and display 100 items
  sites/mundopmmi/config/site.js
  sites/mundopmmi/server/routes/published-content.js
  sites/mundopmmi/server/routes/website-section.js
  sites/mundopmmi/server/templates/published-content/events.marko
  sites/mundopmmi/server/templates/website-section/eventos.marko
Labels: site: mundopmmi

#399 Add autores to nav menu; create companias section page
  packages/common/components/published-content/query.marko
  sites/mundopmmi/config/site.js
  sites/mundopmmi/server/routes/website-section.js
  sites/mundopmmi/server/templates/website-section/companias.marko
Labels: site: mundopmmi

#400 Job Postings ad units for dental sites
  sites/dentaleconomics/config/ads.js
  sites/rdhmag/config/ads.js
Labels: site: dentaleconomics, site: rdhmag

#404 Add Featured Company Box
  sites/mundopmmi/server/api/fragments/featured-companies.js
  sites/mundopmmi/server/components/featured-companies.marko
  sites/mundopmmi/server/components/marko.json
  sites/mundopmmi/server/templates/content/index.marko
Labels: site: mundopmmi

#406 CS2852-Bizbash: adjust z-index on ad background
  packages/themes/default/styles/theme/_ads.scss
Labels: package: themes

#405 CS2803-BTR: move On-Topic block to the top
  sites/broadbandtechreport/server/templates/index.marko
Labels: site: broadbandtechreport

#407 Reveal ad z-index and relative container positioning
  packages/common/components/ads/gam-ad-head.marko
  packages/themes/default/styles/_components.scss
  packages/themes/default/styles/theme/_ads.scss
Labels: package: themes

#408 Increase spaces limit to 25
  sites/bizbash/server/api/fragments/content-page.js
Labels: site: bizbash

#409 Add section wrappers to pages and load more
  packages/common/components/content/blocks/query-load-more-author.marko
  packages/common/components/content/blocks/query-load-more-company.marko
  packages/common/components/content/blocks/query-load-more-issue-content.marko
  packages/common/components/content/blocks/query-load-more-list.marko
  packages/common/components/content/blocks/query-load-more-related.marko
  packages/common/components/content/blocks/query-load-more.marko
  packages/common/components/magazine/blocks/query-active-issues.marko
  packages/common/components/page/marko.json
  packages/common/components/page/section.marko
  packages/themes/default/layouts/content.marko
  packages/themes/default/layouts/dynamic-page.marko
  packages/themes/default/layouts/magazine-issue.marko
  packages/themes/default/layouts/magazine-publication.marko
  packages/themes/default/layouts/magazine.marko
  packages/themes/default/layouts/published-content.marko
  packages/themes/default/layouts/search.marko
  packages/themes/default/layouts/subscribe.marko
  packages/themes/default/layouts/user.marko
  packages/themes/default/layouts/website-section.marko
  packages/themes/default/styles/_mixins.scss
  packages/themes/default/styles/theme/_page.scss
  sites/bizbash/components/load-more/components/wrapper.marko
  sites/bizbash/server/styles/index.scss
  sites/bizbash/server/templates/index.marko
  sites/bizbash/server/templates/website-section/gathergeeks.marko
  sites/bizbash/server/templates/website-section/index.marko
  sites/bizbash/server/templates/website-section/industry-buzz.marko
Labels: package: common, package: themes, site: bizbash

#410 Update reskin ad logic & move leaderboard for bizbash
  packages/common/browser/reskin-listener.vue
  packages/themes/default/styles/_components.scss
  packages/themes/default/styles/theme/_ads.scss
  sites/bizbash/server/templates/content/index.marko
  sites/bizbash/server/templates/content/supplier.marko
  sites/bizbash/server/templates/content/top-list.marko
  sites/bizbash/server/templates/content/venue.marko
  sites/bizbash/server/templates/dynamic-page/index.marko
  sites/bizbash/server/templates/magazine/index.marko
  sites/bizbash/server/templates/magazine/issue.marko
  sites/bizbash/server/templates/magazine/publication.marko
  sites/bizbash/server/templates/published-content/events.marko
  sites/bizbash/server/templates/published-content/videos.marko
  sites/bizbash/server/templates/published-content/webinars.marko
  sites/bizbash/server/templates/published-content/white-papers.marko
  sites/bizbash/server/templates/search.marko
  sites/bizbash/server/templates/subscribe/email.marko
  sites/bizbash/server/templates/subscribe/index.marko
  sites/bizbash/server/templates/subscribe/magazine.marko
  sites/bizbash/server/templates/website-section/bermuda.marko
  sites/bizbash/server/templates/website-section/bizbash-lists.marko
  sites/bizbash/server/templates/website-section/catering.marko
  sites/bizbash/server/templates/website-section/gathergeeks.marko
  sites/bizbash/server/templates/website-section/index.marko
  sites/bizbash/server/templates/website-section/industry-buzz.marko
  sites/bizbash/server/templates/website-section/local-venues-destinations.marko
  sites/bizbash/server/templates/website-section/production-strategy.marko
  sites/bizbash/server/templates/website-section/style-decor.marko
  sites/bizbash/server/templates/website-section/supplier-directory.marko
  sites/bizbash/server/templates/website-section/venue-directory.marko
Labels: package: common, package: themes, site: bizbash

#412 Adjust reskin appending; fix published content and magazine issue pages
  packages/common/browser/reskin-listener.vue
  packages/common/components/magazine/blocks/active-issues-deck.marko
  packages/common/components/magazine/blocks/marko.json
  packages/common/components/magazine/blocks/query-active-issues.marko
  sites/bizbash/server/templates/magazine/publication.marko
  sites/bizbash/server/templates/published-content/events.marko
  sites/bizbash/server/templates/published-content/videos.marko
  sites/bizbash/server/templates/published-content/webinars.marko
  sites/bizbash/server/templates/published-content/white-papers.marko
Labels: package: common, site: bizbash

#413 CS2783-LFW: added “Photonics Business” topic
  sites/laserfocusworld/config/site.js
  sites/laserfocusworld/server/styles/index.scss
  sites/laserfocusworld/server/templates/index.marko
Labels: site: laserfocusworld

#415 CS2783-LFW: brand changed mind
  sites/laserfocusworld/config/site.js
  sites/laserfocusworld/server/styles/index.scss
Labels: site: laserfocusworld

#416 EE home page, menu, ad positions
  sites/evaluationengineering/config/ads.js
  sites/evaluationengineering/config/site.js
  sites/evaluationengineering/server/templates/content/index.marko
  sites/evaluationengineering/server/templates/dynamic-page/index.marko
  sites/evaluationengineering/server/templates/index.marko
  sites/evaluationengineering/server/templates/magazine/index.marko
  sites/evaluationengineering/server/templates/magazine/issue.marko
  sites/evaluationengineering/server/templates/magazine/publication.marko
  sites/evaluationengineering/server/templates/published-content/events.marko
  sites/evaluationengineering/server/templates/published-content/videos.marko
  sites/evaluationengineering/server/templates/published-content/webinars.marko
  sites/evaluationengineering/server/templates/published-content/white-papers.marko
  sites/evaluationengineering/server/templates/search.marko
  sites/evaluationengineering/server/templates/subscribe/email.marko
  sites/evaluationengineering/server/templates/subscribe/index.marko
  sites/evaluationengineering/server/templates/subscribe/magazine.marko
  sites/evaluationengineering/server/templates/website-section/contact-us.marko
  sites/evaluationengineering/server/templates/website-section/index.marko
Labels: site: evaluationengineering

#421 Pass link attributes as-is from NativeX
  packages/common/components/content/blocks/nativex-item.marko
  packages/native-x/components/site-render.marko
Labels: package: common, packages: native-x

#422 Updated EE’s GTM container
  sites/evaluationengineering/config/site.js
Labels: site: evaluationengineering

#419 Update bing search
  packages/common/browser/search-integration-bing.vue
  packages/themes/default/styles/_components.scss
  packages/themes/default/styles/theme/_item-list.scss
  packages/themes/default/styles/theme/_item.scss
  packages/themes/default/styles/theme/_search.scss
  sites/evaluationengineering/server/templates/search.marko
Labels: package: common

#423 Updated BizBash to use Bing search
  sites/bizbash/config/site.js
Labels: site: bizbash
