Repository endeavorb2b/websites, pull requests merged in 2019-09, with the labels that each got.

#424 EE ads fix
  sites/evaluationengineering/config/ads.js
  sites/evaluationengineering/server/templates/website-section/index.marko
Labels: site: evaluationengineering

#426 EE logo, robots, advertise link fix
  sites/evaluationengineering/config/site.js
  sites/evaluationengineering/server/public/robots.txt
Labels: site: evaluationengineering

#425 2914-OGJ: update to sign-in/form.vue
  packages/identity-x/browser/components/sign-in/form.vue
Labels: package: identity-x

#428 Add teasers to load more cards and list
  packages/common/components/content/blocks/query-load-more.marko
  packages/themes/default/styles/_variables.scss
  packages/themes/orion/styles/theme.scss
Labels: package: common, package: themes

#429 CS2938 and CS2940 for EE
  sites/evaluationengineering/server/templates/content/index.marko
  sites/evaluationengineering/server/templates/index.marko
Labels: site: evaluationengineering

#430 Updated Mundo ad units to IMU, HP
  sites/mundopmmi/config/ads.js
  sites/mundopmmi/server/templates/content/components/pre-load-more-layout.marko
  sites/mundopmmi/server/templates/website-section/components/pre-load-more-layout.marko
Labels: site: mundopmmi

#431 Mundo GTM target divs
  sites/mundopmmi/server/templates/content/index.marko
  sites/mundopmmi/server/templates/index.marko
  sites/mundopmmi/server/templates/website-section/index.marko
Labels: site: mundopmmi

#436 CS2962-CIM: adjusted mobile settings for header
  sites/cablinginstall/server/styles/index.scss
Labels: site: cablinginstall

#437 EE-ENL: added form url
  sites/evaluationengineering/config/site.js
Labels: site: evaluationengineering

#440 CS2977-EE: special-reports to industry-events
  sites/evaluationengineering/server/templates/index.marko
Labels: site: evaluationengineering

#441 2986-BOW updated mag links, current issue to video
  sites/bioopticsworld/config/site.js
  sites/bioopticsworld/server/templates/index.marko
Labels: site: bioopticsworld

#442 Forester migration
  .travis.yml
  docker-compose.yml
  sites/foresternetwork/.basecmsrc.js
  sites/foresternetwork/.eslintrc.js
  sites/foresternetwork/.gitignore
  sites/foresternetwork/.stylelintignore
  sites/foresternetwork/.stylelintrc.js
  sites/foresternetwork/README.md
  sites/foresternetwork/browser/.eslintrc.js
  sites/foresternetwork/browser/index.js
  sites/foresternetwork/config/ads.js
  sites/foresternetwork/config/core.js
  sites/foresternetwork/config/native-x.js
  sites/foresternetwork/config/site.js
  sites/foresternetwork/index.js
  sites/foresternetwork/newrelic.js
  sites/foresternetwork/package.json
  sites/foresternetwork/server/public/android-chrome-192x192.png
  sites/foresternetwork/server/public/android-chrome-512x512.png
  sites/foresternetwork/server/public/apple-touch-icon.png
  sites/foresternetwork/server/public/favicon-16x16.png
  sites/foresternetwork/server/public/favicon-32x32.png
  sites/foresternetwork/server/public/favicon.ico
  sites/foresternetwork/server/public/robots.txt
  sites/foresternetwork/server/public/site.webmanifest
  sites/foresternetwork/server/routes/content.js
  sites/foresternetwork/server/routes/dynamic-page.js
  sites/foresternetwork/server/routes/home.js
  sites/foresternetwork/server/routes/index.js
  sites/foresternetwork/server/routes/load-more.js
  sites/foresternetwork/server/routes/magazine.js
  sites/foresternetwork/server/routes/published-content.js
  sites/foresternetwork/server/routes/search.js
  sites/foresternetwork/server/routes/subscribe.js
  sites/foresternetwork/server/routes/website-section.js
  sites/foresternetwork/server/styles/index.scss
  sites/foresternetwork/server/templates/content/index.marko
  sites/foresternetwork/server/templates/dynamic-page/index.marko
  sites/foresternetwork/server/templates/index.marko
  sites/foresternetwork/server/templates/magazine/index.marko
  sites/foresternetwork/server/templates/magazine/issue.marko
  sites/foresternetwork/server/templates/magazine/publication.marko
  sites/foresternetwork/server/templates/published-content/events.marko
  sites/foresternetwork/server/templates/published-content/videos.marko
  sites/foresternetwork/server/templates/published-content/webinars.marko
  sites/foresternetwork/server/templates/published-content/white-papers.marko
  sites/foresternetwork/server/templates/search.marko
  sites/foresternetwork/server/templates/subscribe/email.marko
  sites/foresternetwork/server/templates/subscribe/index.marko
  sites/foresternetwork/server/templates/subscribe/magazine.marko
  sites/foresternetwork/server/templates/website-section/contact-us.marko
  sites/foresternetwork/server/templates/website-section/index.marko
  sites/foresternetwork/server/tests/.gitkeep
Labels: site: foresternetwork

#443 Mundo ad unit overhaul
  sites/mundopmmi/config/ads.js
  sites/mundopmmi/server/templates/content/components/pre-load-more-layout.marko
  sites/mundopmmi/server/templates/content/index.marko
  sites/mundopmmi/server/templates/dynamic-page/index.marko
  sites/mundopmmi/server/templates/index.marko
  sites/mundopmmi/server/templates/magazine/index.marko
  sites/mundopmmi/server/templates/magazine/issue.marko
  sites/mundopmmi/server/templates/magazine/publication.marko
  sites/mundopmmi/server/templates/published-content/videos.marko
  sites/mundopmmi/server/templates/published-content/webinars.marko
  sites/mundopmmi/server/templates/published-content/white-papers.marko
  sites/mundopmmi/server/templates/search.marko
  sites/mundopmmi/server/templates/subscribe/email.marko
  sites/mundopmmi/server/templates/subscribe/index.marko
  sites/mundopmmi/server/templates/subscribe/magazine.marko
  sites/mundopmmi/server/templates/website-section/automatizacion.marko
  sites/mundopmmi/server/templates/website-section/companias.marko
  sites/mundopmmi/server/templates/website-section/components/pre-load-more-layout.marko
  sites/mundopmmi/server/templates/website-section/contact-us.marko
  sites/mundopmmi/server/templates/website-section/empaque.marko
  sites/mundopmmi/server/templates/website-section/eventos.marko
  sites/mundopmmi/server/templates/website-section/index.marko
  sites/mundopmmi/server/templates/website-section/procesamiento.marko
Labels: site: mundopmmi

#445 CS3037-EE: add contactUs email per Deb
  sites/evaluationengineering/config/site.js
Labels: site: evaluationengineering

#446 CS3059-ILS: facebook link corrected
  sites/industrial-lasers/config/site.js
Labels: site: industrial-lasers

#447 CS3072-BOW: update enl form url
  sites/bioopticsworld/config/site.js
Labels: site: bioopticsworld

#448 CS3012-VSD: add knowledge zone category
  sites/vision-systems/config/site.js
  sites/vision-systems/server/routes/website-section.js
  sites/vision-systems/server/templates/website-section/knowledge-zone.marko
Labels: site: vision-systems

#449 CS3082-OGJ: updated link to https
  sites/ogj/server/templates/index.marko
Labels: site: ogj

#450 CS3025-DIQ: updates for subscribe page text
  sites/dentistryiq/server/templates/subscribe/index.marko
Labels: site: dentistryiq

#452 Corrección de traducción
  sites/mundopmmi/server/components/featured-companies.marko
Labels: site: mundopmmi
