Repository endeavorb2b/websites, pull requests merged in 2019-10, with the labels that each got.

#455 BizBash Native-X Positioning & jQuery
  sites/bizbash/browser/index.js
  sites/bizbash/components/load-more/content-layouts/default.marko
Labels: site: bizbash

#456 CS3081-Carousel: make arrows visible
  sites/bizbash/server/styles/components/_carousel.scss
Labels: site: bizbash

#457 Cs3231: Nav updates for DE and RDH
  sites/dentaleconomics/config/site.js
  sites/dentaleconomics/server/styles/index.scss
  sites/rdhmag/config/site.js
  sites/rdhmag/server/styles/index.scss
Labels: site: dentaleconomics, site: rdhmag

#458 Only fire published content pageview on load-more not query-list
  packages/common/components/published-content/query-load-more.marko
  packages/common/components/published-content/query.marko
Labels: package: common

#459 CS3241: OGJ - add RSS Feed to resources nav
  sites/ogj/config/site.js
Labels: site: ogj

#461 Change PMMI configs to caprica
  .travis.yml
  docker-compose.yml
Labels: site: mundopmmi

#463 Fixed BZB redirect loop
  sites/bizbash/index.js
Labels: site: bizbash

#464 Updated Industrial links to go to WTO
  sites/waterworld/config/site.js
Labels: site: waterworld
