Repository endeavorb2b/websites, pull requests merged in 2019-06, with the labels that each got.

#202 Ensure cookie header is string before parsing
  packages/identity-x/utils/token-cookie.js
Labels: bug

#256 CS2430-LFW: updated subscribe form link
  sites/laserfocusworld/config/site.js
Labels: site: laserfocusworld

#251 Wufoo survey integration
  packages/common/browser/gated-download-form-dot-com.vue
  packages/common/browser/gated-download-wufoo.vue
  packages/common/browser/index.js
  packages/common/browser/utils/clean-path.js
  packages/common/components/content/blocks/download.marko
  sites/bioopticsworld/config/site.js
  sites/broadbandtechreport/config/site.js
  sites/cablinginstall/config/site.js
  sites/dentaleconomics/config/site.js
  sites/dentistryiq/config/site.js
  sites/evaluationengineering/config/site.js
  sites/industrial-lasers/config/site.js
  sites/intelligent-aerospace/config/site.js
  sites/laserfocusworld/config/site.js
  sites/ledsmagazine/config/site.js
  sites/lightwaveonline/config/site.js
  sites/militaryaerospace/config/site.js
  sites/officer/config/site.js
  sites/offshore-mag/config/site.js
  sites/ogj/config/site.js
  sites/perioimplantadvisory/config/site.js
  sites/plasticsmachinerymagazine/config/site.js
  sites/rdhmag/config/site.js
  sites/strategies-u/config/site.js
  sites/utilityproducts/config/site.js
  sites/vision-systems/config/site.js
  sites/waterworld/config/site.js
Labels: package: common

#258 Create `release-notes` package
  packages/release-notes/.eslintrc.js
  packages/release-notes/README.md
  packages/release-notes/bin/between.js
  packages/release-notes/bin/release.js
  packages/release-notes/package.json
  packages/release-notes/src/between.js
  packages/release-notes/src/codename.js
  packages/release-notes/src/env.js
  packages/release-notes/src/index.js
  packages/release-notes/src/octokit.js
  packages/release-notes/src/sources.js
  yarn.lock
Labels: package: release-notes

#262 Magazine archive updates
  packages/common/components/magazine/blocks/query-active-issues.marko
  packages/themes/pennwell/styles/components/magazine/_query-active-issues.scss
  sites/aquamagazine/server/templates/magazine/publication.marko
  sites/athleticbusiness/server/templates/magazine/publication.marko
  sites/automationworld/server/templates/magazine/publication.marko
  sites/bioopticsworld/server/templates/magazine/publication.marko
  sites/cablinginstall/server/templates/magazine/publication.marko
  sites/clevescene/server/templates/magazine/publication.marko
  sites/dentaleconomics/server/templates/magazine/publication.marko
  sites/dentistryiq/server/templates/magazine/publication.marko
  sites/evaluationengineering/server/templates/magazine/publication.marko
  sites/forconstructionpros/server/templates/magazine/publication.marko
  sites/healthcarepackaging/server/templates/magazine/publication.marko
  sites/industrial-lasers/server/templates/magazine/publication.marko
  sites/laserfocusworld/server/templates/magazine/publication.marko
  sites/ledsmagazine/server/templates/magazine/publication.marko
  sites/lightwaveonline/server/templates/magazine/publication.marko
  sites/metrotimes/server/templates/magazine/publication.marko
  sites/militaryaerospace/server/templates/magazine/publication.marko
  sites/mundopmmi/server/templates/magazine/publication.marko
  sites/oemmagazine/server/templates/magazine/publication.marko
  sites/officer/server/templates/magazine/publication.marko
  sites/offshore-mag/server/templates/magazine/publication.marko
  sites/ogj/config/site.js
  sites/ogj/server/templates/magazine/publication.marko
  sites/orlandoweekly/server/templates/magazine/publication.marko
  sites/outinsa/server/templates/magazine/publication.marko
  sites/outinstl/server/templates/magazine/publication.marko
  sites/packworld/server/templates/magazine/publication.marko
  sites/plasticsmachinerymagazine/server/templates/magazine/publication.marko
  sites/profoodworld/server/templates/magazine/publication.marko
  sites/rdhmag/server/templates/magazine/publication.marko
  sites/riverfronttimes/server/templates/magazine/publication.marko
  sites/sacurrent/server/templates/magazine/publication.marko
  sites/strategies-u/server/templates/magazine/publication.marko
  sites/utilityproducts/server/templates/magazine/publication.marko
  sites/vision-systems/server/templates/magazine/publication.marko
  sites/waterworld/server/templates/magazine/publication.marko
  sites/woodfloorbusiness/server/templates/magazine/publication.marko
Labels: package: common

#264 BC-VSD-secondaryNav
  sites/vision-systems/server/styles/_variables.scss
Labels: site: vision-systems

#266 Add `industrial/water-reuse` ads for Waterworld
  sites/waterworld/config/ads.js
Labels: site: waterworld

#267 Option to hide primary image on content pages
  packages/common/components/content/blocks/marko.json
  packages/common/components/content/blocks/page-body.marko
  packages/common/components/content/blocks/primary-media.marko
  sites/aquamagazine/server/templates/content/index.marko
  sites/athleticbusiness/server/templates/content/index.marko
  sites/automationworld/server/templates/content/index.marko
  sites/bioopticsworld/server/templates/content/index.marko
  sites/broadbandtechreport/server/templates/content/index.marko
  sites/cablinginstall/server/templates/content/index.marko
  sites/clevescene/server/templates/content/index.marko
  sites/dentaleconomics/server/templates/content/index.marko
  sites/dentistryiq/server/templates/content/index.marko
  sites/evaluationengineering/server/templates/content/index.marko
  sites/forconstructionpros/server/templates/content/index.marko
  sites/healthcarepackaging/server/templates/content/index.marko
  sites/industrial-lasers/server/templates/content/index.marko
  sites/intelligent-aerospace/server/templates/content/index.marko
  sites/laserfocusworld/server/templates/content/index.marko
  sites/ledsmagazine/server/templates/content/index.marko
  sites/lightwaveonline/server/templates/content/index.marko
  sites/metrotimes/server/templates/content/index.marko
  sites/militaryaerospace/server/templates/content/index.marko
  sites/mundopmmi/server/templates/content/index.marko
  sites/oemmagazine/server/templates/content/index.marko
  sites/officer/server/templates/content/index.marko
  sites/offshore-mag/server/templates/content/index.marko
  sites/ogj/server/templates/content/index.marko
  sites/orlandoweekly/server/templates/content/index.marko
  sites/outinsa/server/templates/content/index.marko
  sites/outinstl/server/templates/content/index.marko
  sites/packworld/server/templates/content/index.marko
  sites/perioimplantadvisory/server/templates/content/index.marko
  sites/plasticsmachinerymagazine/server/templates/content/index.marko
  sites/profoodworld/server/templates/content/index.marko
  sites/rdhmag/server/templates/content/index.marko
  sites/riverfronttimes/server/templates/content/index.marko
  sites/sacurrent/server/templates/content/index.marko
  sites/strategies-u/server/templates/content/index.marko
  sites/utilityproducts/server/templates/content/index.marko
  sites/vision-systems/server/templates/content/index.marko
  sites/waterworld/server/templates/content/index.marko
  sites/woodfloorbusiness/server/templates/content/index.marko
Labels: package: common

#268 CS2465-WW: updated ENL form
  sites/waterworld/config/site.js
Labels: site: waterworld

#269 CS2464-LW: updated ENL form
  sites/lightwaveonline/config/site.js
Labels: site: lightwaveonline

#270 CS2471-VSD: update ENL form
  sites/vision-systems/config/site.js
Labels: site: vision-systems

#274 WW-globalThoughtMediaItems: updated video code
  packages/themes/pennwell/styles/components/_item.scss
  sites/waterworld/server/templates/website-section/global-thought-leaders.marko
Labels: package: themes, site: waterworld
