Repository endeavorb2b/websites, pull requests merged in 2019-07, with the labels that each got.

#275 OGJ skip modifications
  sites/ogj/server/templates/website-section/index.marko
Labels: site: ogj

#277 PMMI: First pass at home page, header/menu
  sites/mundopmmi/config/site.js
  sites/mundopmmi/server/templates/index.marko
Labels: site: mundopmmi

#278 Update WW email subscription link
  sites/waterworld/config/site.js
Labels: site: waterworld

#282 CS2534-LEDs: added 'Awards' nav item
  sites/ledsmagazine/config/site.js
  sites/ledsmagazine/server/styles/_variables.scss
Labels: site: ledsmagazine

#281 Initial Bizbash site setup
  .travis.yml
  docker-compose.yml
  sites/bizbash/.basecmsrc.js
  sites/bizbash/.eslintrc.js
  sites/bizbash/.gitignore
  sites/bizbash/.stylelintignore
  sites/bizbash/.stylelintrc.js
  sites/bizbash/README.md
  sites/bizbash/browser/.eslintrc.js
  sites/bizbash/browser/index.js
  sites/bizbash/config/ads.js
  sites/bizbash/config/core.js
  sites/bizbash/config/site.js
  sites/bizbash/index.js
  sites/bizbash/newrelic.js
  sites/bizbash/package.json
  sites/bizbash/server/public/android-chrome-192x192.png
  sites/bizbash/server/public/android-chrome-512x512.png
  sites/bizbash/server/public/apple-touch-icon.png
  sites/bizbash/server/public/favicon-16x16.png
  sites/bizbash/server/public/favicon-32x32.png
  sites/bizbash/server/public/favicon.ico
  sites/bizbash/server/public/robots.txt
  sites/bizbash/server/public/site.webmanifest
  sites/bizbash/server/routes/content.js
  sites/bizbash/server/routes/dynamic-page.js
  sites/bizbash/server/routes/home.js
  sites/bizbash/server/routes/index.js
  sites/bizbash/server/routes/load-more.js
  sites/bizbash/server/routes/magazine.js
  sites/bizbash/server/routes/published-content.js
  sites/bizbash/server/routes/search.js
  sites/bizbash/server/routes/subscribe.js
  sites/bizbash/server/routes/website-section.js
  sites/bizbash/server/styles/_variables.scss
  sites/bizbash/server/styles/index.scss
  sites/bizbash/server/templates/content/index.marko
  sites/bizbash/server/templates/dynamic-page/index.marko
  sites/bizbash/server/templates/index.marko
  sites/bizbash/server/templates/magazine/index.marko
  sites/bizbash/server/templates/magazine/issue.marko
  sites/bizbash/server/templates/magazine/publication.marko
  sites/bizbash/server/templates/published-content/events.marko
  sites/bizbash/server/templates/published-content/videos.marko
  sites/bizbash/server/templates/published-content/webinars.marko
  sites/bizbash/server/templates/published-content/white-papers.marko
  sites/bizbash/server/templates/search.marko
  sites/bizbash/server/templates/subscribe/email.marko
  sites/bizbash/server/templates/subscribe/index.marko
  sites/bizbash/server/templates/subscribe/magazine.marko
  sites/bizbash/server/templates/website-section/contact-us.marko
  sites/bizbash/server/templates/website-section/index.marko
  sites/bizbash/server/tests/.gitkeep
Labels: site: bizbash

#283 BizBash layout and config updates
  sites/bizbash/config/site.js
  sites/bizbash/server/templates/index.marko
  sites/bizbash/server/templates/website-section/index.marko
Labels: site: bizbash

#284 CS2557-DE: added editorial-advisory-board section
  sites/dentaleconomics/config/site.js
  sites/dentaleconomics/server/routes/website-section.js
  sites/dentaleconomics/server/templates/website-section/editorial-advisory-board.marko
Labels: site: dentaleconomics

#287 Breadcrumbs-refactor-contactUs
  packages/common/components/breadcrumbs/contact-us.marko
  packages/common/components/breadcrumbs/marko.json
  sites/aquamagazine/server/templates/website-section/contact-us.marko
  sites/athleticbusiness/server/templates/website-section/contact-us.marko
  sites/automationworld/server/templates/website-section/contact-us.marko
  sites/bioopticsworld/server/templates/website-section/contact-us.marko
  sites/bizbash/server/templates/website-section/contact-us.marko
  sites/broadbandtechreport/server/templates/website-section/contact-us.marko
  sites/cablinginstall/server/templates/website-section/contact-us.marko
  sites/clevescene/server/templates/website-section/contact-us.marko
  sites/dentaleconomics/server/templates/website-section/contact-us.marko
  sites/dentistryiq/server/templates/website-section/contact-us.marko
  sites/evaluationengineering/server/templates/website-section/contact-us.marko
  sites/forconstructionpros/server/templates/website-section/contact-us.marko
  sites/healthcarepackaging/server/templates/website-section/contact-us.marko
  sites/industrial-lasers/server/templates/website-section/contact-us.marko
  sites/intelligent-aerospace/server/templates/website-section/contact-us.marko
  sites/laserfocusworld/server/templates/website-section/contact-us.marko
  sites/ledsmagazine/server/templates/website-section/contact-us.marko
  sites/lightwaveonline/server/templates/website-section/contact-us.marko
  sites/metrotimes/server/templates/website-section/contact-us.marko
  sites/militaryaerospace/server/templates/website-section/contact-us.marko
  sites/mundopmmi/server/templates/website-section/contact-us.marko
  sites/oemmagazine/server/templates/website-section/contact-us.marko
  sites/officer/server/templates/website-section/contact-us.marko
  sites/offshore-mag/server/templates/website-section/contact-us.marko
  sites/ogj/server/templates/website-section/contact-us.marko
  sites/orlandoweekly/server/templates/website-section/contact-us.marko
  sites/outinsa/server/templates/website-section/contact-us.marko
  sites/outinstl/server/templates/website-section/contact-us.marko
  sites/packworld/server/templates/website-section/contact-us.marko
  sites/perioimplantadvisory/server/templates/website-section/contact-us.marko
  sites/plasticsmachinerymagazine/server/templates/website-section/contact-us.marko
  sites/profoodworld/server/templates/website-section/contact-us.marko
  sites/rdhmag/server/templates/website-section/contact-us.marko
  sites/riverfronttimes/server/templates/website-section/contact-us.marko
  sites/sacurrent/server/templates/website-section/contact-us.marko
  sites/strategies-u/server/templates/website-section/contact-us.marko
  sites/utilityproducts/server/templates/website-section/contact-us.marko
  sites/vision-systems/server/templates/website-section/contact-us.marko
  sites/waterworld/server/templates/website-section/contact-us.marko
  sites/woodfloorbusiness/server/templates/website-section/contact-us.marko
Labels: package: common

#285 CS2259-DIQ: update magazine and subscribe pages
  sites/dentistryiq/server/templates/magazine/index.marko
  sites/dentistryiq/server/templates/subscribe/index.marko
Labels: site: dentistryiq

#290 Only display primary image if one exists
  packages/common/components/content/blocks/primary-media.marko
Labels: package: common

#293 BizBash channel-specific ad units, GTM on
  sites/bizbash/config/ads.js
  sites/bizbash/server/templates/content/index.marko
Labels: site: bizbash

#296 Pkg update
  packages/common/package.json
  packages/identity-x/package.json
  packages/inquiry/package.json
  packages/themes/package.json
  sites/aquamagazine/package.json
  sites/athleticbusiness/package.json
  sites/automationworld/package.json
  sites/bioopticsworld/package.json
  sites/bizbash/package.json
  sites/broadbandtechreport/package.json
  sites/cablinginstall/package.json
  sites/clevescene/package.json
  sites/dentaleconomics/package.json
  sites/dentistryiq/package.json
  sites/evaluationengineering/package.json
  sites/forconstructionpros/package.json
  sites/healthcarepackaging/package.json
  sites/industrial-lasers/package.json
  sites/intelligent-aerospace/package.json
  sites/laserfocusworld/package.json
  sites/ledsmagazine/package.json
  sites/lightwaveonline/package.json
  sites/metrotimes/package.json
  sites/militaryaerospace/package.json
  sites/mundopmmi/package.json
  sites/oemmagazine/package.json
  sites/officer/package.json
  sites/offshore-mag/package.json
  sites/ogj/package.json
  sites/orlandoweekly/package.json
  sites/outinsa/package.json
  sites/outinstl/package.json
  sites/packworld/package.json
  sites/perioimplantadvisory/package.json
  sites/plasticsmachinerymagazine/package.json
  sites/profoodworld/package.json
  sites/rdhmag/package.json
  sites/riverfronttimes/package.json
  sites/sacurrent/package.json
  sites/strategies-u/package.json
  sites/utilityproducts/package.json
  sites/vision-systems/package.json
  sites/waterworld/package.json
  sites/woodfloorbusiness/package.json
  yarn.lock
Labels: package: common

#294 Inline images on Media Galleries
  packages/common/components/content/blocks/image-list.marko
  packages/common/components/content/blocks/marko.json
  packages/common/components/content/blocks/page-body-contents.marko
  packages/common/components/content/blocks/primary-media.marko
  packages/themes/pennwell/api/fragments/content-page.js
  packages/themes/pennwell/styles/bootstrap/_mixins.scss
  packages/themes/pennwell/styles/components/_content.scss
  packages/themes/pennwell/styles/components/content/_image-list.scss
  sites/aquamagazine/server/templates/content/index.marko
  sites/athleticbusiness/server/templates/content/index.marko
  sites/automationworld/server/templates/content/index.marko
  sites/bioopticsworld/server/templates/content/index.marko
  sites/bizbash/server/templates/content/index.marko
  sites/broadbandtechreport/server/templates/content/index.marko
  sites/cablinginstall/server/templates/content/index.marko
  sites/clevescene/server/templates/content/index.marko
  sites/dentaleconomics/server/templates/content/index.marko
  sites/dentistryiq/server/templates/content/index.marko
  sites/evaluationengineering/server/templates/content/index.marko
  sites/forconstructionpros/server/templates/content/index.marko
  sites/healthcarepackaging/server/templates/content/index.marko
  sites/industrial-lasers/server/templates/content/index.marko
  sites/intelligent-aerospace/server/templates/content/index.marko
  sites/laserfocusworld/server/templates/content/index.marko
  sites/ledsmagazine/server/templates/content/index.marko
  sites/lightwaveonline/server/templates/content/index.marko
  sites/metrotimes/server/templates/content/index.marko
  sites/militaryaerospace/server/templates/content/index.marko
  sites/mundopmmi/server/templates/content/index.marko
  sites/oemmagazine/server/templates/content/index.marko
  sites/officer/server/templates/content/index.marko
  sites/offshore-mag/server/templates/content/index.marko
  sites/ogj/server/templates/content/index.marko
  sites/orlandoweekly/server/templates/content/index.marko
  sites/outinsa/server/templates/content/index.marko
  sites/outinstl/server/templates/content/index.marko
  sites/packworld/server/templates/content/index.marko
  sites/perioimplantadvisory/server/templates/content/index.marko
  sites/plasticsmachinerymagazine/server/templates/content/index.marko
  sites/profoodworld/server/templates/content/index.marko
  sites/rdhmag/server/templates/content/index.marko
  sites/riverfronttimes/server/templates/content/index.marko
  sites/sacurrent/server/templates/content/index.marko
  sites/strategies-u/server/templates/content/index.marko
  sites/utilityproducts/server/templates/content/index.marko
  sites/vision-systems/server/templates/content/index.marko
  sites/waterworld/server/templates/content/index.marko
  sites/woodfloorbusiness/server/templates/content/index.marko
Labels: package: common

#298 Updated logo to larger (high res) version
  sites/bizbash/config/site.js
Labels: site: bizbash

#297 CS2259-DIQ: correct links for newsletter subs
  sites/dentistryiq/server/templates/subscribe/index.marko
Labels: site: dentistryiq

#300 CS2598-WW: update contact email
  sites/waterworld/config/site.js
Labels: site: waterworld

#302 Remove urlencoded amp
  sites/bizbash/config/site.js
Labels: site: bizbash

#299 Bizbash suppliers
  packages/common/components/content/blocks/marko.json
  packages/common/components/content/blocks/query-load-more-related.marko
  packages/themes/default/styles/bootstrap/_components.scss
  sites/bizbash/browser/.eslintrc.js
  sites/bizbash/browser/image-slide.vue
  sites/bizbash/browser/image-slider.vue
  sites/bizbash/browser/index.js
  sites/bizbash/browser/inquiry-form.vue
  sites/bizbash/components/image-slider.marko
  sites/bizbash/components/inquiry-form.marko
  sites/bizbash/components/marko.json
  sites/bizbash/config/site.js
  sites/bizbash/marko.json
  sites/bizbash/package.json
  sites/bizbash/server/api/fragments/content-page.js
  sites/bizbash/server/routes/content.js
  sites/bizbash/server/routes/load-more.js
  sites/bizbash/server/styles/index.scss
  sites/bizbash/server/templates/content/supplier.marko
Labels: package: common, site: bizbash

#305 Update packages to 0.9.40
  packages/common/package.json
  packages/identity-x/package.json
  packages/inquiry/package.json
  packages/themes/package.json
  sites/aquamagazine/package.json
  sites/athleticbusiness/package.json
  sites/automationworld/package.json
  sites/bioopticsworld/package.json
  sites/bizbash/package.json
  sites/broadbandtechreport/package.json
  sites/cablinginstall/package.json
  sites/clevescene/package.json
  sites/dentaleconomics/package.json
  sites/dentistryiq/package.json
  sites/evaluationengineering/package.json
  sites/forconstructionpros/package.json
  sites/healthcarepackaging/package.json
  sites/industrial-lasers/package.json
  sites/intelligent-aerospace/package.json
  sites/laserfocusworld/package.json
  sites/ledsmagazine/package.json
  sites/lightwaveonline/package.json
  sites/metrotimes/package.json
  sites/militaryaerospace/package.json
  sites/mundopmmi/package.json
  sites/oemmagazine/package.json
  sites/officer/package.json
  sites/offshore-mag/package.json
  sites/ogj/package.json
  sites/orlandoweekly/package.json
  sites/outinsa/package.json
  sites/outinstl/package.json
  sites/packworld/package.json
  sites/perioimplantadvisory/package.json
  sites/plasticsmachinerymagazine/package.json
  sites/profoodworld/package.json
  sites/rdhmag/package.json
  sites/riverfronttimes/package.json
  sites/sacurrent/package.json
  sites/strategies-u/package.json
  sites/utilityproducts/package.json
  sites/vision-systems/package.json
  sites/waterworld/package.json
  sites/woodfloorbusiness/package.json
  yarn.lock
Labels: package: common

#303 Bizbash TopList support
  packages/themes/default/api/fragments/content-page.js
  sites/bizbash/components/image-format.js
  sites/bizbash/components/image-list.marko
  sites/bizbash/components/image-slider.marko
  sites/bizbash/components/marko.json
  sites/bizbash/components/top-list-galleries.marko
  sites/bizbash/package.json
  sites/bizbash/server/api/fragments/content-page.js
  sites/bizbash/server/routes/content.js
  sites/bizbash/server/styles/index.scss
  sites/bizbash/server/templates/content/top-list.marko
Labels: site: bizbash

#301 Bizbash Venue support
  sites/bizbash/components/marko.json
  sites/bizbash/components/venue-capacity.marko
  sites/bizbash/server/api/fragments/content-page.js
  sites/bizbash/server/routes/content.js
  sites/bizbash/server/styles/index.scss
  sites/bizbash/server/templates/content/venue.marko
Labels: site: bizbash

#309 Bizbash theming
  packages/common/components/content/blocks/contact-details.marko
  packages/common/components/content/blocks/image-list.marko
  packages/common/components/content/blocks/marko.json
  packages/common/components/content/blocks/page-body-contents.marko
  packages/common/components/content/blocks/page-body.marko
  packages/common/components/content/blocks/page-header.marko
  packages/common/components/content/blocks/primary-media.marko
  packages/common/components/icon.marko
  packages/common/components/marko.json
  packages/common/components/page/body-image.marko
  packages/common/components/page/body-images.marko
  packages/common/components/page/body-media-galleries.marko
  packages/common/components/page/body-media-gallery.marko
  packages/common/components/page/marko.json
  packages/themes/default/styles/_components.scss
  packages/themes/default/styles/_functions.scss
  packages/themes/default/styles/_mixins.scss
  packages/themes/default/styles/_variables.scss
  packages/themes/default/styles/bootstrap/_functions.scss
  packages/themes/default/styles/bootstrap/_mixins.scss
  packages/themes/default/styles/bootstrap/_variables.scss
  packages/themes/default/styles/theme.scss
  packages/themes/default/styles/theme/_content.scss
  packages/themes/default/styles/theme/_footer.scss
  packages/themes/default/styles/theme/_forms.scss
  packages/themes/default/styles/theme/_item-list.scss
  packages/themes/default/styles/theme/_item.scss
  packages/themes/default/styles/theme/_load-more.scss
  packages/themes/default/styles/theme/_navbar.scss
  packages/themes/default/styles/theme/_page.scss
  packages/themes/default/styles/theme/content/_attribution.scss
  packages/themes/default/styles/theme/content/_contact-details.scss
  packages/themes/default/styles/theme/content/_primary-media.scss
  packages/themes/default/styles/theme/content/_published-date.scss
  packages/themes/default/styles/theme/page/_body-image.scss
  packages/themes/default/styles/theme/page/_body-images.scss
  packages/themes/default/styles/theme/page/_body-media-gallery.scss
  packages/themes/orion/styles/theme.scss
  sites/bizbash/components/image-list.marko
  sites/bizbash/components/image-slider.marko
  sites/bizbash/components/marko.json
  sites/bizbash/components/top-list-galleries.marko
  sites/bizbash/server/api/fragments/content-page.js
  sites/bizbash/server/styles/components/_carousel.scss
  sites/bizbash/server/styles/index.scss
  sites/bizbash/server/templates/content/supplier.marko
  sites/bizbash/server/templates/content/top-list.marko
Labels: package: common, package: themes, site: bizbash

#312 Fix page-body-image__wrapper class (oops)
  packages/themes/default/styles/theme/page/_body-image.scss
Labels: package: themes

#308 IdentityX Sentry support
  packages/identity-x/browser/components/authenticate.vue
  packages/identity-x/browser/components/logout.vue
  packages/identity-x/browser/components/sign-in/form.vue
  packages/identity-x/browser/errors/authentication.js
  packages/identity-x/browser/errors/feature.js
  packages/identity-x/browser/errors/form.js
  packages/identity-x/browser/errors/logout.js
  packages/identity-x/browser/index.js
  packages/identity-x/browser/utils/cookies-enabled.js
  packages/identity-x/components/access.marko
  packages/identity-x/components/index.marko
  packages/identity-x/package.json
  yarn.lock
Labels: package: identity-x, site: ogj

#315 Updated ENL link for BTR
  sites/broadbandtechreport/config/site.js
Labels: site: broadbandtechreport

#317 Updated PIA rail2 position to enforce a 300x600
  sites/perioimplantadvisory/server/templates/content/index.marko
  sites/perioimplantadvisory/server/templates/index.marko
  sites/perioimplantadvisory/server/templates/website-section/index.marko
Labels: site: perioimplantadvisory

#318 Create BizBash list/card items
  packages/common/components/marko.json
  packages/common/components/website-scheduled-content/hero.marko
  packages/common/components/website-scheduled-content/list.marko
  packages/common/components/website-scheduled-content/marko.json
  packages/themes/default/styles/_components.scss
  packages/themes/default/styles/theme/_item.scss
  packages/themes/default/styles/theme/_website-scheduled-content.scss
  sites/bizbash/components/hero-card.marko
  sites/bizbash/components/list-item-large.marko
  sites/bizbash/components/list-item.marko
  sites/bizbash/components/marko.json
  sites/bizbash/server/styles/index.scss
  sites/bizbash/server/templates/content/index.marko
  sites/bizbash/server/templates/content/top-list.marko
  sites/bizbash/server/templates/index.marko
  sites/bizbash/server/templates/website-section/gathergeeks.marko
Labels: package: common, package: themes, site: bizbash

#319 Use new hero block on section pages
  sites/bizbash/server/templates/website-section/index.marko
Labels: site: bizbash

#320 Ensure fetch `credentials` default to same-origin
  packages/identity-x/browser/create-client.js
Labels: package: identity-x

#322 CS2684-SU: removed advertise from navigations
  sites/strategies-u/config/site.js
Labels: site: strategies-u

#321 CS2187-Webinar: added webinar content type
  packages/common/components/content/blocks/item.marko
Labels: package: common

#325 Enabled GTM, updated menu links
  sites/bizbash/config/site.js
Labels: site: bizbash

#326 Hide break tags within media surrounded by paragraph
  packages/themes/default/styles/_mixins.scss
  packages/themes/default/styles/_variables.scss
Labels: package: themes

#311 Venue Directory Landing Page
  packages/common/browser/index.js
  packages/common/browser/plus-minus-toggle-button.vue
  packages/themes/default/styles/theme/_navbar.scss
  sites/bizbash/components/marko.json
  sites/bizbash/components/pinned-directory-card.marko
  sites/bizbash/config/directory-search.js
  sites/bizbash/package.json
  sites/bizbash/server/routes/website-section.js
  sites/bizbash/server/styles/index.scss
  sites/bizbash/server/templates/website-section/supplier-directory.marko
  sites/bizbash/server/templates/website-section/venue-directory.marko
  sites/bizbash/services/cloud-front-search.js
Labels: package: common, site: bizbash

#327 Store inquiry submission
  packages/inquiry/routers/submit.js
  packages/inquiry/template-builders/notification-builder.js
  packages/inquiry/utils/store-inquiry.js
  sites/bizbash/browser/inquiry-form.vue
  sites/bizbash/config/site.js
Labels: package: inquiry, site: bizbash

#329 CS2586-LFW-BTR: added On Topic block to indexes
  sites/broadbandtechreport/server/templates/index.marko
  sites/lightwaveonline/server/templates/index.marko
Labels: site: broadbandtechreport, site: lightwaveonline

#330 Updated Google search key for BizBash
  sites/bizbash/config/site.js
Labels: site: bizbash

#331 Content page date format & CSS attribution prefixes
  packages/common/components/content/blocks/item.marko
  packages/common/components/content/blocks/marko.json
  packages/common/components/content/blocks/page-header.marko
  packages/common/components/content/elements/authors.marko
  packages/common/components/content/elements/byline.marko
  packages/common/components/content/elements/company-name.marko
  packages/common/components/content/elements/contributors.marko
  packages/common/components/content/elements/marko.json
  packages/common/components/content/elements/photographers.marko
  packages/common/components/content/elements/source.marko
  packages/common/components/content/elements/sponsors.marko
  packages/themes/default/styles/theme/content/_attribution.scss
  sites/bizbash/server/styles/index.scss
  sites/bizbash/server/templates/content/index.marko
Labels: package: common, site: bizbash

#332 Add directly related content to content pages
  sites/bizbash/components/marko.json
  sites/bizbash/components/related-content.marko
  sites/bizbash/server/templates/content/index.marko
  sites/bizbash/server/templates/content/top-list.marko
Labels: site: bizbash

#333 Bizbash query triage
  sites/bizbash/components/load-more/index.marko
  sites/bizbash/components/related-content.marko
  sites/bizbash/server/api/fragments/content-list.js
  sites/bizbash/server/templates/content/index.marko
  sites/bizbash/server/templates/content/supplier.marko
  sites/bizbash/server/templates/content/top-list.marko
  sites/bizbash/server/templates/content/venue.marko
  sites/bizbash/server/templates/index.marko
  sites/bizbash/server/templates/website-section/bermuda.marko
  sites/bizbash/server/templates/website-section/catering.marko
  sites/bizbash/server/templates/website-section/gathergeeks.marko
  sites/bizbash/server/templates/website-section/index.marko
  sites/bizbash/server/templates/website-section/industry-buzz.marko
  sites/bizbash/server/templates/website-section/production-strategy.marko
  sites/bizbash/server/templates/website-section/style-decor.marko
Labels: site: bizbash

#334 CS2709-VSD: updated homepage content blocks
  sites/vision-systems/server/templates/index.marko
Labels: site: vision-systems

#335 CS2712-BOW: updated homepage content blocks
  sites/bioopticsworld/server/templates/index.marko
Labels: site: bioopticsworld

#336 CS2710-ILS: updated homepage content blocks
  sites/industrial-lasers/server/templates/index.marko
Labels: site: industrial-lasers

#338 CS2713-LFW: added contentBlocks on homepage
  sites/laserfocusworld/server/templates/index.marko
Labels: site: laserfocusworld

#337 Re-enable auto load more on Bizbash
  sites/bizbash/server/templates/content/index.marko
  sites/bizbash/server/templates/content/supplier.marko
  sites/bizbash/server/templates/content/top-list.marko
  sites/bizbash/server/templates/content/venue.marko
  sites/bizbash/server/templates/website-section/bermuda.marko
  sites/bizbash/server/templates/website-section/catering.marko
  sites/bizbash/server/templates/website-section/gathergeeks.marko
  sites/bizbash/server/templates/website-section/index.marko
  sites/bizbash/server/templates/website-section/industry-buzz.marko
  sites/bizbash/server/templates/website-section/production-strategy.marko
  sites/bizbash/server/templates/website-section/style-decor.marko
Labels: site: bizbash

#339 Disable attribution on venue/supplier pages
  sites/bizbash/server/templates/content/supplier.marko
  sites/bizbash/server/templates/content/top-list.marko
  sites/bizbash/server/templates/content/venue.marko
Labels: site: bizbash

#340 Enable directSend for inquiries
  sites/bizbash/config/site.js
Labels: site: bizbash

#341 Preserve left and right margin on embedded media
  packages/themes/default/styles/theme/_embedded-media.scss
Labels: package: themes

#342 Remove unused fields in inquiry fragment
  packages/inquiry/default-fragment.js
  packages/inquiry/template-builders/notification-builder.js
Labels: package: inquiry, site: bizbash

#343 Mundo ads, layout update
  sites/mundopmmi/config/ads.js
  sites/mundopmmi/server/templates/content/index.marko
  sites/mundopmmi/server/templates/index.marko
  sites/mundopmmi/server/templates/website-section/index.marko
Labels: site: mundopmmi

#344 Re-factor supplier and venue directories
  packages/common/browser/index.js
  packages/common/browser/menu-toggle-button.vue
  packages/common/browser/navbar-toggle-button.vue
  packages/common/browser/plus-minus-toggle-button.vue
  packages/common/components/content/blocks/contact-details.marko
  packages/common/components/content/blocks/marko.json
  packages/common/components/content/blocks/page-body.marko
  packages/common/components/item/components/image.marko
  packages/common/components/item/item.marko
  packages/common/components/item/marko.json
  packages/common/components/navbars/site-a.marko
  packages/common/components/social/icon-link.marko
  packages/common/components/social/marko.json
  packages/themes/default/styles/_mixins.scss
  packages/themes/default/styles/theme/_navbar.scss
  sites/bizbash/components/directory-search/components/facet-container/facet-container.marko
  sites/bizbash/components/directory-search/components/facet-container/marko-tag.json
  sites/bizbash/components/directory-search/components/facet-list/facet-list.marko
  sites/bizbash/components/directory-search/components/facet-list/marko-tag.json
  sites/bizbash/components/directory-search/components/pinned-results.marko
  sites/bizbash/components/directory-search/components/search-hit.marko
  sites/bizbash/components/directory-search/components/search-hits.marko
  sites/bizbash/components/directory-search/find-active-facet.js
  sites/bizbash/components/directory-search/index.marko
  sites/bizbash/components/directory-search/markets.js
  sites/bizbash/components/directory-search/supplier-topics.js
  sites/bizbash/components/directory-search/venue-topics.js
  sites/bizbash/components/marko.json
  sites/bizbash/components/pinned-directory-card.marko
  sites/bizbash/config/core.js
  sites/bizbash/config/directory-search.js
  sites/bizbash/config/site.js
  sites/bizbash/server/styles/components/_directory.scss
  sites/bizbash/server/styles/index.scss
  sites/bizbash/server/templates/content/supplier.marko
  sites/bizbash/server/templates/content/venue.marko
  sites/bizbash/server/templates/website-section/supplier-directory.marko
  sites/bizbash/server/templates/website-section/venue-directory.marko
  sites/bizbash/services/cloud-front-search.js
Labels: package: common, site: bizbash

#345 Upgrade @base-cms dependencies to 0.9.49
  packages/common/package.json
  packages/identity-x/package.json
  packages/inquiry/package.json
  packages/themes/package.json
  sites/aquamagazine/package.json
  sites/athleticbusiness/package.json
  sites/automationworld/package.json
  sites/bioopticsworld/package.json
  sites/bizbash/package.json
  sites/broadbandtechreport/package.json
  sites/cablinginstall/package.json
  sites/clevescene/package.json
  sites/dentaleconomics/package.json
  sites/dentistryiq/package.json
  sites/evaluationengineering/package.json
  sites/forconstructionpros/package.json
  sites/healthcarepackaging/package.json
  sites/industrial-lasers/package.json
  sites/intelligent-aerospace/package.json
  sites/laserfocusworld/package.json
  sites/ledsmagazine/package.json
  sites/lightwaveonline/package.json
  sites/metrotimes/package.json
  sites/militaryaerospace/package.json
  sites/mundopmmi/package.json
  sites/oemmagazine/package.json
  sites/officer/package.json
  sites/offshore-mag/package.json
  sites/ogj/package.json
  sites/orlandoweekly/package.json
  sites/outinsa/package.json
  sites/outinstl/package.json
  sites/packworld/package.json
  sites/perioimplantadvisory/package.json
  sites/plasticsmachinerymagazine/package.json
  sites/profoodworld/package.json
  sites/rdhmag/package.json
  sites/riverfronttimes/package.json
  sites/sacurrent/package.json
  sites/strategies-u/package.json
  sites/utilityproducts/package.json
  sites/vision-systems/package.json
  sites/waterworld/package.json
  sites/woodfloorbusiness/package.json
  yarn.lock
Labels: dependencies

#347 Use publicEmail if present, change tel input type
  packages/inquiry/default-fragment.js
  packages/inquiry/routers/submit.js
  sites/bizbash/browser/inquiry-form.vue
Labels: package: inquiry, site: bizbash

#348 Add generic story/listing/gallery redirect handler
  sites/bizbash/index.js
Labels: site: bizbash

#350 Set IdentityX info to dataLayer, if present
  packages/themes/default/components/document.marko
  packages/themes/package.json
Labels: package: themes, site: ogj
