Repository endeavorb2b/websites, pull requests merged in 2020-04, with the labels that each got.

#484 Ban additional email on BZB
  sites/bizbash/config/site.js
Labels: site: bizbash

#485 Update bizbash footer logo
  sites/bizbash/config/site.js
Labels: site: bizbash

#486 Ban email for bizbash
  sites/bizbash/config/site.js
Labels: site: bizbash

#488 Updated OGJ homepage blocks
  sites/ogj/server/templates/index.marko
Labels: site: ogj

#489 Update Bizbash footer logo
  sites/bizbash/config/site.js
Labels: site: bizbash

#490 Upgrade dependencies
  packages/common/package.json
  packages/identity-x/package.json
  packages/inquiry/package.json
  packages/themes/package.json
  sites/bizbash/package.json
  sites/mundopmmi/package.json
  sites/ogj/package.json
  yarn.lock
Labels: dependencies

#492 Increase BZB footer logo height
  sites/bizbash/config/site.js
  sites/bizbash/server/styles/index.scss
Labels: site: bizbash
