Repository endeavorb2b/websites, pull requests merged in 2020-02, with the labels that each got.

#473 Change page alias lookup to support all characters
  sites/bizbash/server/routes/dynamic-page.js
  sites/mundopmmi/server/routes/dynamic-page.js
  sites/ogj/server/routes/dynamic-page.js
Labels: site: bizbash, site: mundopmmi, site: ogj

#472 Update default IdentityX URI
  docker-compose.yml
  packages/identity-x/README.md
  packages/identity-x/browser/components/sign-in/form.vue
  sites/ogj/config/identity-x.js
Labels: package: identity-x, site: ogj

#476 Support Enable RMI toggle for Venues
  sites/bizbash/server/api/fragments/content-page.js
  sites/bizbash/server/templates/content/venue.marko
Labels: site: bizbash

#477 Support blocking email addresses
  packages/inquiry/routers/submit.js
  sites/bizbash/config/site.js
Labels: site: bizbash

#478 Set secondary nav Venue and Supplier links to white
  packages/common/components/navbars/site-a.marko
  sites/bizbash/config/site.js
  sites/bizbash/server/styles/index.scss
Labels: site: bizbash

#479 Add Masterplanner and Careers links to nav, menu
  sites/bizbash/config/site.js
Labels: site: bizbash
